<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awad abayzeid | CV</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="public/style/style.css">
 <style>
     html,body,h1,h2,h3,h4,h5,h6,i {font-family: "Roboto", sans-serif}
     .container{
            width: 100%;
            max-width:initial;
            > .row{
                margin: 0;
                > .col{
                    padding: 0;
                }
            }
        }

        ul{
            margin-left:20px
        }
        ul li{

            padding:4px;
        }
 </style>
</head>
<body class="blue-grey lighten-3">


    <div class="container">

        <div class="row">
            <div class="col s12 m6 l4 ">
                <!-- light-blue lighten-3 -->
                <img class="responsive-img" src="images/IMG1.jpg">

                <div class="card blue-grey darken-1">
                   

                    <div class="card-content white-text">
                        <h4 class="white-text ">Awad abayzeid abdelrhman</h4> 
                        <P><span class="white-text">Sex</span> Male | <span class="white-text">Date of birth</span> 1995 | <span class="white-text">Nationality</span> Sudanese</P>

                      <h3 class="card-title center-align h3"> <i class="fa fa-address-card-o"></i> <span style="font-weight: 700;">CONTENT</span></h3>
                     
                       <ul>
                           <li>
                               <h6>
                                <P><i class="fa fa-briefcase fa-fw w3-margin-right w3-large "></i>Android developer</P>

                               </h6>
                           </li>
                           <li>
                             <h6><i class="fas fa-envelope w3-margin-right"></i> Algaly.bayzeed@gmail.com
                             </h6>
                           </li>

                           <li>
                            <h6><i class="fa  fa-phone-square w3-margin-right"></i> +249112233352</h6>
                           </li>

                           <li>
                            <h6><i class="fas fa-map-marker-alt w3-margin-right"></i> Khartoum Al-Haj Yousef 
                            </h6>
                           </li>

                           <li>
                              <!-- <h6><i class="fas fa-globe"></i></h6>  -->
                           </li>
                       </ul>

                    </div>
                    </div>

                    <!-- skill gride part from the left side -->

                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <h4 class="card-title center-align h4"> <i class="fas fa-thumbtack"></i> <span style="font-weight: 700;">SKILLS</span></h4>
                         
                         <!-- start -->


                         <p>Android 
                        </p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-center-white white-text" style="width:90%">90%</div>
                         </div>
                         <p>FLUTTER
                        </p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey" style="width:80%">
                             <div class="w3-center w3-text-white">80%</div>
                           </div>
                         </div>
               
                         <p>JAVA</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey" style="width:70%">
                             <div class="w3-center w3-text-white">70%</div>
                           </div>
                         </div>
               
                         <p>MYSQL</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-text-white" style="width:75%">75%</div>
                         </div>
                         <p>PHP BACK-END</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-text-white" style="width:70%">70%</div>
                         </div>
               
                         <p>CodeIgniter Framework</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-text-white " style="width:70%">70%</div>
                         </div>

                         <p>Laravel Framework</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-text-white" style="width:70%">70%</div>
                         </div>

                         <p>NODE JS BACK-END</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-text-white" style="width:60%">60%</div>
                         </div>
                         <hr>

                         <h4 class="card-title center-align h4"> <i class="fas fa-user-friends"></i> <span style="font-weight: 700;">SOFT SKILLS</span></h4>
                         

                         <p>Communctions skills</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-text-white " style="width:95%">95%</div>
                         </div>
                         <p>Presentation skills</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey  w3-text-white" style="width:90%">90%</div>
                         </div>
                         <p>Team Player</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-text-white" style="width:90%">90%</div>
                         </div>

                         <p>Creativity</p>
                         <div class="w3-light-grey w3-round-xlarge w3-small">
                           <div class="w3-container w3-center w3-round-xlarge grey w3-text-white" style="width:80%">80%</div>
                         </div>





                         <!-- end -->
    
                        </div>
                        </div>
                     
            </div>

            <div class="col s12 m6 l8">
                 <!-- Start of Summary     -->
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title"><i class="fas fa-user-circle"></i> Summary</span>
                      <p>A forward-thinking developer offering more than three years of experience building, integrating, testing, and supporting Android applications for mobile and tablet devices on the Android platform seeks a position with a top technology companies. Currently i have 5 application in the Google Play store</p>
                    <h5>CORE QUALIFICATIONS</h5>
                    
                     <ul>
                         <li><p>
                            <i class="fa fa-check-circle white-text"></i> Created 5+ fully functional applications for Android devices.
                         </p></li>
                         <li><p>
                            <i class="fa fa-check-circle white-text"></i> Known for writing efficient, maintainable, and reusable code.
                         </p></li>
                         <li><p>
                            <i class="fa fa-check-circle white-text"></i> Proficient in design, data structures, problem-solving, and debugging.
                         </p></li>
                         <li><p>
                            <i class="fa fa-check-circle white-text"></i> Expert in the interaction between various devices and versions of Android.
                         </p></li>
                     </ul>

                    </div>

                     
                  </div>

                  <!-- End of Summary -->

                  <!-- Start of Education -->
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title"><i class="fa fa-suitcase fa-fw  w3-xxlarge white-text"></i> Work Experience</span>
                      <h5>Android Application Developer at Baskoda </h5>
                        <p><i class="fa fa-calendar fa-fw w3-margin-right white-text"></i>Oct 2018 To Present</p>
                      <p>Project lead of mobile development team for various Baskoda Corporation Android projects. Collaborate with marketing, key executives, UI designers, and other developers to develop cutting-edge applications for the financial sector without jeopardizing privacy or security.</p>
                    <h5>My responsibilities are:</h5>
                    <ul>
                        <li><p>
                            <i class="fa fa-check-circle white-text"></i> Ensure applications are properly integrated with Android APIs.
                        </p></li>
                        <li><p>
                            <i class="fa fa-check-circle white-text"></i> Create SQL database structures that integrate with Android applications and web interfaces.
                        </p></li>
                        <li><p>
                            <i class="fa fa-check-circle white-text"></i> Participate in fast-paced development cycles; have completed 100% of deadlines ahead of schedule.
                        </p></li>
                        <li><p>
                            <i class="fa fa-check-circle white-text"></i> Contribute and participate in new feature product specifications.
                        </p></li>
                    </ul>

                    <h5>Web full stack developer & Android developer at Smem Information Technology</h5>
                    <p><i class="fa fa-calendar fa-fw w3-margin-right white-text"></i>Sep 2019 To Present</p>
                    <p>
                     I work as full stack developer & android developer, and i have built severl web application using lavarvel framework and mysql database.
                    </p>
                    <hr>

                    <span class="card-title"><i class="fas fa-certificate  w3-xxlarge white-text"></i> Mobile Projects</span>

                    <div class="container">

                        <div class="row">

                            <div class="col s12 m6 l3 center-align">
                               <h5> <a href="https://play.google.com/store/apps/details?id=com.custom.baskod.com.agentselling" > باسكودا للخدمات والبيع المخفض</a></h5>
                            <img src="images/IMG4.png" class="responsive-img">
                            </div>
                            <div class="col s12 m6 l3 center-align">
                            <h5> <a href="https://play.google.com/store/apps/details?id=com.app.sulation.sudanschools" >مدارس ورياض السودان</a></h5>
                                <img src="images/IMG3.png" class="responsive-img">
                            </div>
                            <div class="col s12 m6 l3 center-align">
                                <h5>  <a href="https://play.google.com/store/apps/details?id=com.samm.sa.zajelalsaada" >زاجل السعادة</a></h5>
                                <img src="images/IMG6.png" class="responsive-img">
                            </div>
                            <div class="col s12 m6 l3 center-align">
                                <h5>  <a class="h4" href="https://play.google.com/store/apps/details?id=primary.schools.gate" >إسكولس قيت</a></h5>
                                <img src="images/IMG2.png" class="responsive-img">
                            </div>

                            <div class="col s12 m6 l3 center-align">
                                <h5> <a class="h4" href="https://play.google.com/store/apps/details?id=com.samm.estalemaandroid" >استلم</a></h5>
                                <img src="images/IMG5.png" class="responsive-img">
                            </div>

                        </div>
                    </div>

                       <hr>
                    <span class="card-title"><i class="fa fa-book fa-fw   w3-xxlarge white-text"></i>Education</span>
                    <h5>Emirates College of Science and Technology  <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-purple w3-border w3-round-large w3-padding-small">View certificate</button></h5>
                    <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 to 2018</h6>
                    <p style="margin-left:5px;">B.sc in Information Technology</p>
                   
								 <div id="id02" class="w3-modal">
											<div class="w3-modal-content">
											  <header class="w3-container w3-purple"> 
												<span onclick="document.getElementById('id02').style.display='none'" 
												class="w3-button w3-display-topright">&times;</span>
												<h5>Emirates College of Science and Technology</h5>
											  </header>
											  <div class="w3-container w3-center">
												<img  class="w3-image" src="images/IMG11.jpg" width="600px" height="800px">
												
											  </div>
											
											</div>
										  </div>
                    </div>

                    
                    
                  </div>
              
                  

                  <!-- Start of Job Experince -->
                
                  <!-- End of Job Experince -->
                  <!-- Start of Projects -->

                 
                  <!-- End of Projects -->

               
            </div>

        </div>

        <div class="container center-align blue-grey darken-1 ">
            <footer>
                <p class="white-text">Find me on social media.</p>
                <a target="_blank" href="https://web.facebook.com/profile.php?id=100041058713964"><i style="font-size:30px;" class="fa fa-facebook-official w3-hover-opacity white-text"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/algaly-abayzeed-979163188/"><i style="font-size:30px;" class="fa fa-linkedin w3-hover-opacity white-text"></i></a>
              
            </footer>
        </div>
    </div>


    
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script src="https://kit.fontawesome.com/0f51093c8b.js" crossorigin="anonymous"></script>
   <script src="public/javascript/script.js"></script>
</body>
</html>